/* 
    #3A7B99
    #70AFCE
    #A5DEF1
    #FFFFFF 
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,900;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #00112c;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.far, .fas {
  margin-right: 4px;
}

button {
  cursor: pointer;
}

.btn {
  padding: 12px 24px;
  background-color: #70afce;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  font-weight: 500;
  transition: all 300ms ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #3A7B99;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*

    NAVBAR

*/

nav {
  transition: all 300ms ease;
}

.nav__title {
  font-family: 'Rubik', sans-serif;
  color: #3A7B99;
  font-size: 30px;
}

.nav__title span {
  font-family: 'Rubik', sans-serif;
  color: #70AFCE;
}

.nav__wrapper {
  height: 72px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link--list {
  display: flex;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
}

.nav__wrapper--left,
.nav__wrapper--right {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 16px;
}

.nav__img--wrapper {
  width: 120px;
}

.nav__img {
  width: 100%;
  cursor: pointer;
}

.nav__button {
  cursor: pointer;
  color: #00112c;
  font-size: 16px;
  background-color: transparent;
  border: none;
}

.nav__button:hover,
.nav__button:hover .far,
.nav__button:hover .fas {
  color: #70afce;
}

.nav__link--anchor:hover {
  color: #70afce;
}

/*

    LANDING

*/

#landing {
  height: 90vh;
}

.header__wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.header__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 45%;
}

.header__description--title {
  font-size: 48px;
}

.header__description--para {
  font-size: 20px;
}

.header__description > .btn {
  width: 100%;
}

.header__banner--img {
  border-radius: 4px;
}

.header__button {
  display: flex;
  flex-direction: row;
}

/*

  GOALS

*/

.goals {
  padding: 24px 0;
  background-color: #eeeeee;
}

.goals__wrapper {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.goals__goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.goals__icon {
  font-size: 48px;
  padding: 12px;
}

.goals__goal--title {
  font-size: 20px;
}

.goal__goal--para {
  font-size: 16px;
}

/*

  RANGE

*/

.range {
  padding: 24px 0;
}

.range__description {
  text-align: right;
  width: 100%;
  max-width: 600px;
}

.range__description--title {
  font-size: 36px;
}

.range__description--para {
  font-size: 22px;
}

.range__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range__image--img {
  width: 450px;
  height: 500px;
  object-fit: cover;
  border-radius: 4px;
}

/*

  SIGNUP

*/

.signup {
  background-color: #70AFCE;
  padding: 24px 0;
}

.signup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.signup__title {
  color: white;
  text-align: center;
  max-width: 50%;
  font-size: 30px;
}

.signup__btn {
  display: flex;
  flex-direction: row;
}

.signup__btn--button {
  color: #00112c;
  background-color: white;
  font-weight: 600;
}

.signup__btn--button:hover {
  background-color: #dadada;
}

/*

  FOOTER

*/

.stickyfooter footer {
  position: fixed;
  bottom: 0;
}

footer {
  background-color: #00112c;
  padding: 12px 0;
  width: 100%;
}

.footer__copyright {
  display: flex;
}

.footer__copyright--sub a, .footer__copyright--sub {
  font-size: 12px;
  font-weight: 300;
  color: #a5afbd;
}

/*

  REGISTER

*/

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register__title {
  font-size: 32px;
  letter-spacing: 1px;
}

.register__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.register__form {
  width: 450px;
  height: 600px;
}

.register__form form {
  padding: 12px 36px;
  display: flex;
  flex-direction: column;
}

.register__field {
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  border-bottom: #d5d5d5 1px solid;
  outline: none;
}

.register__title {
  text-transform: uppercase;
  font-weight: 400;
  color: #3A7B99;
}

.register__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.register__buttons--forgot {
  transition: all 300ms ease;
}

.register__buttons--forgot:hover {
  color: #3A7B99;
}

.register__new {
  text-align: center;
}

.register__new a:hover {
  text-decoration: underline;
}

/*

  LOGIN

*/

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__title {
  font-size: 32px;
  letter-spacing: 1px;
}

.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.login__form {
  width: 450px;
  height: 600px;
}

.login__form form {
  padding: 12px 36px;
  display: flex;
  flex-direction: column;
}

.login__field {
  font-size: 16px;
  padding: 4px 8px;
  border: none;
  border-bottom: #d5d5d5 1px solid;
  outline: none;
}

.login__title {
  text-transform: uppercase;
  font-weight: 400;
  color: #3A7B99;
}

.login__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.login__buttons--forgot {
  transition: all 300ms ease;
}

.login__buttons--forgot:hover {
  color: #3A7B99;
}

.login__new {
  text-align: center;
}

.login__new a:hover {
  text-decoration: underline;
}

/*

  CATEGORY

*/

.categories {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.category__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.category {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: 6px;
}

.category__image--img {
  width: 100%;
}

/*

  PRODUCT

*/

.product__wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__output {
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 32px;
  display: flex;
  height: 600px;
  width: 100%;
  border: 2px solid #d5d5d5;
  border-radius: 4px;
}

.product__image--img {
  width: 100%;
}

.product__description {
  width: 50%;
}


/*

  ALERTS

*/

.alert {
  margin: 24px auto;
  padding: 12 24px;
  border-radius: 4px;
}

.alert-success {
  background-color: #c9ffe5;
  border: 1px solid #09c97f;
  color: #09c97f;

}

.alert-error {
  background-color: #ffdbdb;
  border: 1px solid #f95668;
  color: #f95668;
}

/*

  MANAGE PRODUCTS

*/

.addproduct {
  display: flex;
  justify-content: center;
  align-content: center;
}

.addproduct form {
  display: flex;
  flex-direction: column;
}

.addproduct input, select, textarea {
  border-radius: 8px;
  padding: 4px;
  border: 1px solid #242424;
  margin-bottom: 4px;
}

.addproduct .btn {
  border: none;
  cursor: pointer;
}

.manageproducts {
  margin: 24px 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*

  REVIEWS

*/

.review__create {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review__create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description__submit {
  display: flex;
  flex-direction: column;
}

.name__review {
  cursor: not-allowed;
}

.description__submit textarea {
  height: 100px;
  resize: vertical;
}

.reviews__wrapper {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.reviews__top {
  background-color: #3A7B99;
}

.reviews__top th {
  color: white;
}